---
import { Heading } from "@navikt/ds-react";
import { text } from "@src/language/text";
import type { Language } from "@src/types";
import styles from "@src/styles/index.module.css";
import "@src/styles/aksel.css";


const language = Astro.currentLocale as Language;
---

<section class="tms-microfrontend-template-ssr">
  <div class={styles.microfrontend}>
    <Heading size="medium" level="2">
      {text.title[language]}
    </Heading>
  </div>
</section>
