.container {
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #272727;
  text-decoration: none;
  background-color: var(--a-surface-alt-3-subtle);
  border-radius: 0.75rem;
}

.container:hover {
  cursor: pointer;
  box-shadow: var(--a-shadow-small);
  background-color: var(--a-surface-alt-3-moderate);
}

.container:hover .chevron {
  transition-duration: 0.2s;
  transform: translate(3px, 0);
}

.container:hover h2 {
  text-decoration: underline;
}

.container:focus {
  box-shadow: var(--a-shadow-focus);
  outline: none;
}

.chevron {
  flex-shrink: 0;
}
